In [2]:
import numpy as np 
import pandas as pd

In [3]:
games = pd.read_csv('games.csv')
recommendations = pd.read_csv('recommendations.csv')

In [4]:
users = pd.read_csv('users.csv')

In [65]:
users.shape

(14306064, 3)

In [5]:
games = games[['app_id','title']]
games.head(5)

   app_id                              title
0   13500  Prince of Persia: Warrior Within™
1   22364            BRINK: Agents of Change
2  113020       Monaco: What's Yours Is Mine
3  226560                 Escape Dead Island
4  249050            Dungeon of the ENDLESS™

In [6]:
print(list(games.columns.values))
print(games.shape)

['app_id', 'title']
(50872, 2)

In [7]:
recommendations = recommendations[["app_id","hours","user_id"]]
recommendations.head(5)

    app_id  hours  user_id
0   975370   36.3    51580
1   304390   11.5     2586
2  1085660  336.5   253880
3   703080   27.4   259432
4   526870    7.9    23869

In [8]:
print(list(recommendations.columns.values))
print(recommendations.shape)

['app_id', 'hours', 'user_id']
(41154794, 3)

In [9]:
users.head(5)

    user_id  products  reviews
0   7360263       359        0
1  14020781       156        1
2   8762579       329        4
3   4820647       176        4
4   5167327        98        2

In [10]:
print(list(users.columns.values))

['user_id', 'products', 'reviews']

In [11]:
recommend_with_users = recommendations.merge(games,on='app_id')

In [12]:
recommend_with_users.head(5)

    app_id  hours  user_id           title
0   975370   36.3    51580  Dwarf Fortress
1   304390   11.5     2586      FOR HONOR™
2  1085660  336.5   253880       Destiny 2
3   703080   27.4   259432      Planet Zoo
4   526870    7.9    23869    Satisfactory

In [13]:
recommend_with_users.shape

(41154794, 4)

In [55]:
no_of_ppl_played_df = recommend_with_users.groupby('app_id').count()['user_id'].reset_index()
no_of_ppl_played_df.rename(columns={'user_id':'no_of_ppl'},inplace=True)
no_of_ppl_played_df.head(5)

   app_id  no_of_ppl
0      10      41043
1      20       4284
2      30       4432
3      40       1610
4      50       9721

In [61]:
new_recommend_with_users = recommend_with_users.groupby('user_id').count()['hours'].reset_index()
new_recommend_with_users.rename(columns={'hours':'rated_hours'},inplace=True)
new_recommend_with_users.head(5)

   user_id  rated_hours
0        0           28
1        1            1
2        2            4
3        3            2
4        4            1

In [62]:
new_recommend_with_users.shape

(13781059, 2)

In [63]:
print(new_recommend_with_users['rated_hours'].min())
print(new_recommend_with_users['rated_hours'].max())

1
6045

In [64]:
new_recommend_with_users['rated_hours'].mean()

np.float64(2.98633029580673)

In [56]:
no_of_ppl_played_df['no_of_ppl'].mean()

np.float64(1094.2513693166711)

In [15]:
no_of_ppl_played_df.shape

(37610, 2)

In [57]:
print(no_of_ppl_played_df['no_of_ppl'].min())
print(no_of_ppl_played_df['no_of_ppl'].max())

1
319492

In [17]:
hours_played_df = recommend_with_users.groupby('app_id')["hours"].mean().reset_index()
hours_played_df.rename(columns={'hours':'mean_hours'},inplace=True)
hours_played_df.head(5)

   app_id  mean_hours
0      10  245.776802
1      20   35.180766
2      30   78.345194
3      40   29.885466
4      50   18.470209

In [18]:
most_played_game_df = no_of_ppl_played_df.merge(hours_played_df,on='app_id')
popular_games_df = most_played_game_df[most_played_game_df['no_of_ppl'] >= 10000].sort_values("mean_hours",ascending=False).head(50)
popular_games_df.merge(games,on="app_id")

     app_id  no_of_ppl  mean_hours                                 title
0       570     216914  429.076894                                Dota 2
1       730     219737  428.968755      Counter-Strike: Global Offensive
2    236850      44974  396.720123                 Europa Universalis IV
3     39210      52488  373.633930              FINAL FANTASY XIV Online
4    394360     143187  370.750355                     Hearts of Iron IV
5    230410     127812  363.425776                              Warframe
6    359550     189603  360.995466       Tom Clancy's Rainbow Six® Siege
7    381210      80582  346.990193                      Dead by Daylight
8    252490     270684  343.367191                                  Rust
9    594570      44767  337.972104               Total War: WARHAMMER II
10  1085660     185527  336.900682                             Destiny 2
11   294100     100999  330.242661                              RimWorld
12   281990      15009  320.936631                             Stellaris
13      440     319492  318.662056                       Team Fortress 2
14   238960     145748  315.682312                         Path of Exile
15   236390      80609  314.355311                           War Thunder
16   578080      97733  313.816103                   PUBG: BATTLEGROUNDS
17   582010      54077  310.121016                 Monster Hunter: World
18   107410     135321  309.296801                                Arma 3
19     4000     137199  303.920991                           Garry's Mod
20   250900     114002  297.490025         The Binding of Isaac: Rebirth
21   346110     159736  292.484846                 ARK: Survival Evolved
22   203770      56621  291.940254                     Crusader Kings II
23   105600     123071  287.988672                              Terraria
24   386360      64689  282.060343                                SMITE®
25  1418630      30806  281.945741                          Dread Hunger
26   271590     163909  281.683095                    Grand Theft Auto V
27  1454400      25431  280.220440                        Cookie Clicker
28   629520      34812  273.324247                              Soundpad
29  1172470     102748  271.216470                         Apex Legends™
30   221100      94365  260.876133                                  DayZ
31   306130      73938  260.042995             The Elder Scrolls® Online
32   594650      81958  259.473184                        Hunt: Showdown
33   440900      49671  258.016338                          Conan Exiles
34  1506830      41872  257.990065                               FIFA 22
35   427520     112195  255.810663                              Factorio
36   359320      68123  255.305425                       Elite Dangerous
37   787860      47516  251.620614                  Farming Simulator 19
38     8930      70794  249.891837           Sid Meier's Civilization® V
39   214950      27163  249.383603  Total War: ROME II - Emperor Edition
40     9900      14749  249.112462                      Star Trek Online
41       10      41043  245.776802                        Counter-Strike
42   392160      10565  245.338656                       X4: Foundations
43   383120      22387  244.991120          Empyrion - Galactic Survival
44   365360      13682  240.810927                       Battle Brothers
45  1343400      11723  239.443965                           RuneScape ®
46  1248130      27656  238.028200                  Farming Simulator 22
47   376210      45744  235.444589                              The Isle
48   582660      50712  234.747701                          Black Desert
49   244850      97026  233.413821                       Space Engineers

In [19]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler

In [20]:
scaler = MinMaxScaler()
recommend_with_users['normalized_hours'] = scaler.fit_transform(recommend_with_users[['hours']])
recommend_with_users.head(5)

    app_id  hours  user_id           title  normalized_hours
0   975370   36.3    51580  Dwarf Fortress            0.0363
1   304390   11.5     2586      FOR HONOR™            0.0115
2  1085660  336.5   253880       Destiny 2            0.3365
3   703080   27.4   259432      Planet Zoo            0.0274
4   526870    7.9    23869    Satisfactory            0.0079

In [49]:
# Step 1: Randomly sample a fraction of users or games
# You can sample either users or games based on your use case.
sample_size = 100000  # Number of samples you want to take
sampled_df = recommend_with_users.sample(n=sample_size, random_state=42)
sampled_df.shape

(100000, 5)

In [50]:
cols = sampled_df['user_id'].values
rows = sampled_df['app_id'].values
data = sampled_df['normalized_hours'].values

In [51]:
from scipy.sparse import csr_matrix, coo_matrix

In [52]:
# Create a sparse matrix in COO format
user_game_sparse = coo_matrix((data, (rows, cols)))

In [53]:
# Step 3: Convert COO matrix to CSR format for efficient arithmetic and matrix-vector operations
user_game_sparse = user_game_sparse.tocsr()

In [54]:
# Step 4: Calculate cosine similarity between users based on normalized hours played
user_similarity = cosine_similarity(user_game_sparse)

MemoryError: Unable to allocate 36.1 TiB for an array with shape (2228891, 2228891) and data type float64

In [ ]:
# Create a DataFrame for easier lookup
user_similarity_df = pd.DataFrame(user_similarity, index=df['user_id'].unique(), columns=df['user_id'].unique())